* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

input:invalid {
  border: 3px solid red;
}
input:valid {
  border: 3px solid green;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#wrap {
  display: flex;
  height: 300px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
